@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto-Bold.woff2") format("woff2"), url("../../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto-Regular.woff2") format("woff2"), url("../../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto-Medium.woff2") format("woff2"), url("../../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif; }

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#root {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 0; }

.title-section {
  text-align: center;
  -webkit-box-shadow: 0 4px 3px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 3px -2px rgba(0, 0, 0, 0.3); }

.nav-bar {
  text-decoration: none;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 20px;
  border-bottom: 1px solid grey; }

li:hover {
  cursor: pointer; }

ul li::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  -webkit-transition: width .5s;
  -o-transition: width .5s;
  transition: width .5s; }

li:hover::after {
  width: 100%;
  -webkit-transition: width .3s;
  -o-transition: width .3s;
  transition: width .3s; }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-bottom: 1px solid grey; }

p {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-item-align: center;
  align-self: center;
  text-indent: 3px; }

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  height: 400px;
  padding: 20px 0; }

.item:nth-child(1) {
  border-left: none; }

.item {
  background-size: cover;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  border-left: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.5;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .item:hover {
    -webkit-box-shadow: 0 4px 3px -2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 3px -2px rgba(0, 0, 0, 0.3);
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    opacity: 1;
    cursor: pointer;
    border-left: 0px; }

.item-1 {
  background-image: url(../images/shirt-1.jpg); }

.item-2 {
  background-image: url(../images/shirt-2.jpg); }

.item-3 {
  background-image: url(../images/shirt-3.jpg); }

.item-4 {
  background-image: url(../images/pants.jpg); }

footer {
  padding: 20px;
  text-align: center; }
