.nav-bar {
	height: 70px;
	color: #fff;
	text-decoration: none;
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0;
}

li {
	transition: color .3s ease;
}

li:hover {
	cursor: pointer;
	color: map-get(map-get($colors, background), dark);
	transition: color .3s ease;
}

