.nav-bar {
	height: 70px;
	color: #fff;
	text-decoration: none;
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0;
}

li {
	transition: color .3s ease;
}

li:hover {
	cursor: pointer;
	color: map-get(map-get($colors, background), dark);
	transition: color .3s ease;
}

// ul li::after {
// 	content: '';
// 	display: block;
// 	width: 0;
// 	height: 2px;
// 	background-color: map-get(map-get($colors, background), dark);
// 	transition: width .5s;
// }

// li:hover::after {
// 	width: 100%;
// 	transition: width .3s;
// }

