@import 'utilities/colors';
@import 'utilities/stylesheet';

html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	padding-top: 70px;
	font-family: 'Roboto', sans-serif;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

#root {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
}

@import './parts/header';
@import './sections/nav-bar';
@import './sections/title-section';
@import './sections/about';
@import './sections/slider';
@import './sections/footer';